@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.button-transform-top-active {
    transform: translateY(0.125rem);
}

.button-transform-middle-active {
    transform: rotate(90deg);
}

.button-transform-bottom-active {
    transform: translateY(-0.125rem);
    opacity: 0;
}

.nav-active {
    opacity: 1;
}

.navbar-nav-active {
    transform: unset;
}

/* Pagination styles */

.pagination-nav {
    list-style: none;
    padding: 10px;
    display: flex;
}

.pagination-nav li {
    margin: 0 1px;
}

.pagination-nav a {
    display: block;
    padding: .5em 1em;
    border: 1px solid #999;
    border-radius: .2em;
    text-decoration: none;
}

.pagination-nav a[aria-current="page"] {
    background-color: #333;
    color: #fff;
}